.container{
    padding-top: 15px;
}
.btnTransferencia{
    margin-left: 15px;
    
}
.box {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.box::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.btn-primary{color:#000000;background-color:#F3F4F6;border-color:#000000}
.btn-primary:hover{color:#000000;background-color:#fff;border-color:#000000}
.scrollBoxDespesa{
    margin-top: 20px;
    margin-left: 10px;
}
.scrollBoxReceita{
    margin-top: 20px;
    margin-left: 30px;
}
.cardCarteira{
    margin: 3px;
    padding: 5px;
}
.cardText{
    display: inline-block;
    width: 270px;
    text-overflow: "";
}
.scrollBoxEditButton{
    width: 48px; 
    height: 40px;
    margin-left: 0px;
}
.scrollBoxDeleteButton{
    width: 48px; 
    height: 42px;
    margin-left: 55px;
}
.scrollBoxNewButtonReceita{
    width: 48px; 
    height: 40px;
    margin-left: 270px;
}
.scrollBoxNewButtonDespesa{
    width: 48px; 
    height: 40px;
    margin-left: 257px;
}
.card_text{
    padding-top:7px;
    padding-left: 20px;
}
.headerText{
    margin-top: 10px;
    margin-left:8px;
}